.footer {
  padding-top: 9.6rem;
  background-color: $color-main;

  &-logo {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &-nav {
    margin-bottom: 3.2rem;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    list-style: none;
  }

  &-link:link,
  &-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    transition: all 0.3s;
  }

  &-link:hover,
  &-link:active {
    color: $color-accent--dark;
  }

  &-foot {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    border-top: 2px solid #d0b19e;
    padding-top: 3.2rem;
  }

  .copyright-text {
    font-size: 1.4rem;
  }

  &-icon {
    border: 2px solid $color-accent;
    background-color: #fff;
    color: $color-accent;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-bottom: 3.2rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-accent--dark;
      color: #fff;
    }
  }
}
