.header {
  height: 9.6rem;
  padding: 0 4.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-main;

  .logo {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    color: $color-grey;
    font-family: "Elsie", serif;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    transition: all 0.3s;
  }

  .nav-link:hover,
  .nav-link:active {
    color: $color-accent--dark;
  }

  .nav-cta:link,
  .nav-cta:visited {
    background-color: $color-accent;
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 0.9rem;
  }

  .nav-cta:hover,
  .nav-cta:active {
    background-color: $color-accent--dark;
  }
}
