.hero-section {
  background-color: $color-main;
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    .hero--text-box {
      background-color: brown;
    }

    .hero--img-box {
      background-color: blueviolet;
    }
  }
}

.sales-section {
  background-color: red;
}

.services-section {
  padding: 4.8rem 0 9.6rem 0;

  .services--img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .services-img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    transition: all 0.4s;
    cursor: pointer;
  }

  .services-img:hover {
    transform: scale(1.1);
  }

  .services-decription {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.choose-section {
  padding: 9.6rem 0;

  .choose-icon {
    color: $color-accent;
    background-color: $color-main;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
  }

  .choose-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  .choose-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .booking-link {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3.2rem;
  }
}

.contact-section {
  height: 20rem;
  background-color: bisque;
}
