.hero-section {
  background-color: $color-main;
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    .hero--text-box {
      background-color: brown;
    }

    .hero--img-box {
      background-color: blueviolet;
    }
  }
}

.sales-section {
  background-color: red;
}

.services-section {
  padding: 9.6rem 0;

  .services--img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .services-img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    transition: all 0.4s;
    cursor: pointer;
  }

  .services-img:hover {
    transform: scale(1.1);
  }

  .services-decription {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.choose-section {
  .choose-box {
    background-color: red;
  }
}

.contact-section {
  height: 20rem;
  background-color: bisque;
}
