.hero-section {
  background-color: $color-main;
  .hero {
    height: 65rem;
    margin: 0 auto;

    .hero--text-box {
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-top: 8rem;
      padding-left: 6.4rem;
      position: relative;
      z-index: 1;
    }

    .hero--text-box::before {
      content: "Beauty";
      position: absolute;
      top: 25%;
      left: -4%;
      color: #fff;
      font-size: 20rem;
      font-family: "Amita", serif;
      z-index: -1;
    }

    .hero--img-box {
      background-image: url(/asset/images/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.services-section {
  padding: 9.6rem 0;

  .services--text-box {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }

  .services--img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .services-img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    transition: all 0.4s;
    cursor: pointer;
  }

  .services-img:hover {
    transform: scale(1.1);
  }

  .services-decription {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.benefits-section {
  padding: 9.6rem 0;

  .benefits-icon {
    color: $color-accent;
    background-color: $color-main;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
  }

  .benefits-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  .benefits-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .booking-link {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3.2rem;
  }
}

.contact-section {
  padding: 9.6rem 0;

  .contact-background {
    height: 40rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: radial-gradient(
      transparent 20%,
      $color-accent,
      $color-accent--dark
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .contact-background h2 {
    color: $color-accent;
  }
}
